html,
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(to left, rgb(9, 22, 203),rgb(14, 4, 106));
}

.container{
	display: flex;
	max-width: 320px;
	margin: 30px auto;
	flex-direction: column;
		
}

#logo{
	height: 150px;
	width:150px;
	border-radius: 50%;
	margin: 0 auto;

}

input,
button{
	color: #ffff;
	padding: 20px;
	border-radius: 15px;
	font-size: 20px;
	text-align: center;
	border: 0;
}

input {
	background-color: #DCE1EB;
	outline:none;
	box-sizing: border-box;
	margin: 10px 0;
}

button{
	background-color: #4859ac;
}